@media only screen and (max-width:1200px) {
    .navbar .navtools {
        flex-direction: column;
        gap: 20px;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 450px;
        transition: 0.7s ease-out;
    }

    .navbar .rightnav {
        padding: 30px 0px 0px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }

    #search {
        border-radius: 10px;
        border: 2px solid yellow;
        width: 80%;
        margin: 0px;
    }

    .navbar .navtools .logo img {
        margin: 0px;
    }

    /****/
    .burger {
        position: absolute;
        right: 3%;
        top: 15px;
        cursor: pointer;

    }

    .line {
        width: 33px;
        height: 3px;
        background-color: whitesmoke;
        margin: 5px 3px;
    }

    .h-nav-resp {
        height: 70px;
    }

    .v-class-resp {
        opacity: 0;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
        align-items: flex-start;
    }

    .secleft {
        flex-direction: column;
    }

    .secright {
        flex-direction: column;
    }

    .thumbnil .secimg {
        max-height: 300px;
        border: 2px solid black;
        border-radius: 20px;
        width: 100%;
    }

    .paras {
        padding: 10px 10px 10px 10px;
        width: 100%;
    }

    .text-small {
        padding: 10px;
    }

    .text-big {
        text-align: center;
        font-size: 50px;
    }

    .input-tag {
        width: 90%;
    }

    .first-half {
        width: 100%;
    }

    .second-half {
        width: 100%;
    }


}